.cards {
  box-sizing: border-box;
  margin: 48px auto 0 auto;
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, fit-content(282px));
  column-gap: 18px;
  row-gap: 21px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, fit-content(282px));
  }
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 36px auto 0 auto;
   }
 }

@media screen and (max-width: 630px) {
  .cards {
    grid-template-columns: repeat(1, fit-content(282px));
  }
}
