.header__logo {
  width: 143px;
  height: 34x;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 630px) {
  .header__logo {
   margin-left: 27px;
 }
}

@media screen and (max-width: 425px) {
   .header__logo {
    width: 104px;
    height: 24px;
  }
 }
