@import url(./__copyright/footer__copyright.css);

.footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 66px 0 60px 0;
  width: 100%;
  max-width: 882px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 582px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    max-width: 282px;
    padding: 48px 0 36px 0;
  }
}
