.profile__job {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin: 16px 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 630px) {
  .profile__job {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.12;
    text-align: center;
  }
}
