.popup__text {
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.12;
  padding: 15px 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
